html {
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://pkpt.uol.edu.pk/portals/0/uol-pakpattan/assets/images/slider/lahore-campus.jpg);
}

#welcome {
    text-align: center;
}

#signup_form {
    height: 535px;
    width: 450px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.7);
    color: rgb(255, 255, 255);
    box-shadow: 5px 10px rgba(0,0,0,0.8);
}

#submit:hover {
	background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}

#footer {
    text-align: center;
    color: white;
    background-color: rgb(0,0,0);
    opacity: 0.7;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
