html {
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://pkpt.uol.edu.pk/portals/0/uol-pakpattan/assets/images/slider/lahore-campus.jpg);
}

#welcome {
    text-align: center;
}

#sign-up-form {
    height: 400px;
    width: 350px;
	background-color: rgb(230,230,230);
}

input {
    margin: 8px;
}

#submit:hover {
	background-color: rgb(0,0,0);
    color: rgb(255,255,255);
}
